<html>
    <head>
        <title>Match Scouting Field View</title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <script>
        let currentPhase = "Pre-Match"

        function setPhase(phase){
            currentPhase = phase;
            const phaseElements = document.querySelectorAll('[class*="phase-"]');
            phaseElements.forEach(el => {
                if (el.classList.contains('phase-'+phase)){
                    el.style.display='flex';
                } else{
                    el.style.display='none';
                }
            });

        }

        function Timer(time,phase,nextPhase=null){
            const startBtn = document.getElementById('startBtn');
            startBtn.style.display='none';
            setPhase(phase);
            let CountdownTime=time;
            const countDownElement = document.getElementById('timer-display');
            const interval=setInterval(function(){
                CountdownTime--;
                countDownElement.textContent=`${phase}: ${CountdownTime}`;
                if (CountdownTime<0){
                    clearInterval(interval);
                    if (nextPhase){
                        const nextBtn=document.getElementById("next-phase-btn");
                        nextBtn.style.display='flex';
                        nextBtn.onclick=()=>{
                            nextBtn.style.display="none";
                            Timer(120,nextPhase);
                        };
                    }else{
                        countDownElement.textContent= 'Match End'
                    }
                }
            },1000);
        }

        function SelectPos(){
            const posButtons=document.querySelectorAll('[class*="position"]')
            posButtons.forEach(el => {
                    el.style.display='none';
                })
            }
    </script>
    <body>
        <div class="header">
            <div class="header-left">
                <label for="preload" class="phase-Pre-Match">Pre-Load: </label>
                <input type="checkbox" id="preload" class="phase-Pre-Match">
            </div>
            <div class="header-center">
                <button class="btn start" id='startBtn' onclick="Timer(1,'Auto','Teleop')"> &#9655;  </button>
                <button id="next-phase-btn" class="btn next-phase" style="display:none;">Start Teleop</button>
            </div>
            <div class="header-right">
                <div class="team"> {{team}}</div>
                <div class="timer-display" id="timer-display">Pre-Match</div>
            </div>
        </div>
        <div class="main">
            <div class="menu phase-Teleop" style="display:none;">
                <button class="btn intake2"> Intake Ground </button>
                <button class="btn defense"></button> 
                <button class="btn undo"></button>
                <button class="btn feed"></button>
            </div>
            <div class="menu phase-Auto" style="display:none;">
                <button class="btn drop-sample"> Drop Sample</button>
                <button class="btn drop-speciman">Drop Speciman</button>
                <button class="btn intake2">Intake Ground</button>
            </div>
            <div class="menu phase-Pre-Match"></div>
            <div class = "image-container"> 
                <button class="btn position blue-start1 phase-Pre-Match" id="bluestartpos1" onClick="SelectPos()"></button>
                <button class="btn position blue-start2 phase-Pre-Match" id="bluestartpos2" onClick="SelectPos()"></button>
                <button class="btn position red-start1 phase-Pre-Match" id="redstartpos1" onClick="SelectPos()"></button>
                <button class="btn position red-start2 phase-Pre-Match" id="redstartpos2" onClick="SelectPos()"></button>
                <button class="btn blue-1 sample-high phase-Auto" style="display:none;"></button>
                <button class="btn blue-2 sample-low phase-Auto" style="display:none;"></button>
                <button class="btn submersible-intake phase-Auto" style="display:none;"></button>
                <button class="btn red-1 sample-low phase-Auto" style="display:none;"></button>
                <button class="btn red-2 sample-high phase-Auto" style="display:none;"></button>
                <button class="btn red-1 sample-high phase-Teleop" style="display:none;"></button>
                <button class="btn red-2 sample-low phase-Teleop" style="display:none;"></button>
                <button class="btn blue-1 sample-high phase-Teleop" style="display:none;"></button>
                <button class="btn blue-2 sample-high phase-Teleop" style="display:none;"></button>
                <button class="btn submersible-intake phase-Teleop" style="display:none;"></button>
                <button class="btn red-3 speciman-high phase-Auto" style="display:none;"></button>
                <button class="btn red-4 speciman-low phase-Auto" style="display:none;"></button>
                <button class="btn blue-3 speciman-high phase-Auto" style="display:none;"></button>
                <button class="btn blue-4 speciman-low phase-Auto" style="display:none;"></button>
                <button class="btn red-3 speciman-high phase-Teleop" style="display:none;"></button>
                <button class="btn red-4 speciman-low phase-Teleop" style="display:none;"></button>
                <button class="btn blue-3 speciman-high phase-Teleop" style="display:none;"></button>
                <button class="btn blue-4 speciman-low phase-Teleop" style="display:none;"></button>
            </div>
            <div class="scoring_menu"></div>
        </div>
    </body>
</html>