<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/static/favicon.png" type="image/x-icon">
        <script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
        <script src="/static/epa.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script>
            function loadNTeams(n) {
                let sortedTeams = Object.keys(window.ranks).sort((a, b) => window.ranks[a][0] - window.ranks[b][0]).slice(window.latestIndex, window.latestIndex + n);
                window.latestIndex += n;
                let teamsTable = document.getElementById("teams");
                sortedTeams.forEach((team) => {
                    let teamRow = document.createElement("tr");
                    teamRow.className = "p-2.5 text-center text-white border-b border-gray-500 hover:bg-gray-800 hover:text-white cursor-pointer transition-all";
                    teamRow.addEventListener('click', function(e) {
                        window.location = `epa?team=${team}`;
                    });
                    let rankCol = document.createElement("td");
                    rankCol.className = "p-2.5";
                    rankCol.innerText = `${window.ranks[team][0]}`;
                    let teamCol = document.createElement("td");
                    teamCol.className = "p-2.5";
                    teamCol.innerText = `${team}`;
                    let epaCol = document.createElement("td");
                    epaCol.className = "p-2.5";
                    epaCol.innerText = `${Number(window.ranks[team][1]).toFixed(1)}`;
                    teamRow.appendChild(rankCol);
                    teamRow.appendChild(teamCol);
                    teamRow.appendChild(epaCol);
                    let percentile = window.ranks[team][0] / Object.keys(window.ranks).length;
                    setElementColorForEPA(teamRow, percentile);
                    teamsTable.appendChild(teamRow);
                });
            }
            window.onload = () => {
                getEPARanks(2024).then((ranks) => {
                    window.ranks = ranks;
                    window.latestIndex = 0;
                    loadNTeams(100);
                });
            };
        </script>
    </head>

    <body class="bg-gray-800 p-5 flex flex-col gap-5">
        <div class="flex flex-row w-full gap-2">
            <span class="text-sm text-white block py-2.5">Legend (percentile): </span>
            <span class="text-sm rounded-lg block p-2.5 bg-red-200 text-gray-800">0-25</span>
            <span class="text-sm rounded-lg block p-2.5 bg-gray-700 text-white">25-75</span>
            <span class="text-sm rounded-lg block p-2.5 bg-green-200 text-gray-800">75-90</span>
            <span class="text-sm rounded-lg block p-2.5 bg-green-400 text-gray-800">90-99</span>
            <span class="text-sm rounded-lg block p-2.5 bg-blue-500 text-white">99-100</span>
            <div class="flex flex-row grow"></div>
            <div class="flex flex-row justify-right">
                <a class="border text-sm rounded-lg block p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-gray-100 focus:border-gray-100 cursor-pointer hover:bg-gray-600 transition-all" href="/">Home</a>
            </div>
        </div>
        <div class="flex flex-row w-full justify-center">
            <div class="flex flex-col w-2/3">
                <table class="table-auto w-full rounded-lg bg-gray-700">
                    <thead>
                    <tr class="gap-2 p-2.5 border-b border-thick border-white">
                        <th class="text-white text-center p-2.5">Rank</th>
                        <th class="text-white text-center p-2.5">Team</th>
                        <th class="text-white text-center p-2.5">EPA</th>
                    </tr>
                    </thead>
                    <tbody id="teams">

                    </tbody>
                </table>
                <div class="w-full flex flex-row justify-center">
                    <button class="border text-sm rounded-lg p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-gray-100 focus:border-gray-100 cursor-pointer hover:bg-gray-600 transition-all" onclick="loadNTeams(1000);">Load more teams</button>
                </div>
            </div>
        </div>
    </body>
</html>