<!doctype html>
<html>
    <head>
        <link rel="icon" href="/static/favicon.png" type="image/x-icon">
        <script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
        <script src="/static/opr.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>

    <body class="bg-gray-800 p-5">
        <div class="flex gap-2" id="event-selector">
            <select name="event" id="event" class="border text-sm rounded-lg block p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-gray-100 focus:border-gray-100">
                {% for event in events %}
                    <option value="{{event}}">{{event}}</option>
                {% endfor %}
            </select>
            <select name="stats" id="stats" class="border text-sm rounded-lg block p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-gray-100 focus:border-gray-100">
                {% for field in fields %}
                    <option value="{{field}}" selected="{% if field == 'totalPoints' %}true{% else %}false{% endif %}">{{field}}</option>
                {% endfor %}
            </select>
            <button class="border btn-primary text-sm bg-gray-700 border-gray-600 rounded-lg text-white p-2.5 hover:bg-gray-600 transition-all block cursor-pointer" onclick="plotOPR(2024, document.getElementById('event').value, document.getElementById('stats').value);">Load OPR chart</button>
            <div class="flex flex-row grow"></div>
            <div class="flex flex-row justify-right">
                <a class="border text-sm rounded-lg block p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-gray-100 focus:border-gray-100 cursor-pointer hover:bg-gray-600 transition-all" href="/">Home</a>
            </div>
        </div>
        <div id="oprChart" class="dark:bg-gray-800"></div>
    </body>
</html>
